<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<footer id="footer" class="section footer" th:fragment="phone-footer">
    <div class="container">
        <div class="footer__top">
            <div class="footer-top__box">
                <h3>TÌM HIỂU THÊM</h3>
                <a href="#">Thương hiệu</a>
                <a href="#">Giải thưởng</a>
                <a href="#">Sản phẩm cũ</a>
                <a href="#">Địa chỉ dự kiến</a>
            </div>
            <div class="footer-top__box">
                <h3>CỬA HÀNG</h3>
                <a href="#">Về chúng tôi</a>
                <a href="#">Zalo</a>
                <a href="#">Facebook</a>
                <a href="#">Gmail</a>
            </div>
            <div class="footer-top__box">
                <h3>CÁ NHÂN</h3>
                <a href="#">Vị trí kho</a>
                <a href="#">Lịch sử cửa hàng</a>
                <a href="#">Cộng đồng Iphone</a>
                <a href="#">Nhãn hiệu</a>
            </div>
            <div class="footer-top__box">
                <h3>LIÊN LẠC VỚI CHÚNG TÔI</h3>
                <div>
            <span>
              <svg>
                <use xlink:href="./images/sprite.svg#icon-location"></use>
              </svg>
            </span>
                    Số 18 phố Viên, phường Đức Thắng, quận Bắc Từ Liêm, Hà Nội.
                </div>
                <div>
            <span>
              <svg>
                <use xlink:href="./images/sprite.svg#icon-envelop"></use>
              </svg>
            </span>
                    trankhaihung12a4xh@gmail.com
                </div>
                <div>
            <span>
              <svg>
                <use xlink:href="./images/sprite.svg#icon-phone"></use>
              </svg>
            </span>
                    0397 477 666
                </div>
                <div>
            <span>
              <svg>
                <use xlink:href="./images/sprite.svg#icon-paperplane"></use>
              </svg>
            </span>
                    Phúc Yên, Vĩnh Phúc
                </div>
            </div>
        </div>
    </div>
    <div class="footer__bottom">
        <div class="footer-bottom__box">

        </div>
        <div class="footer-bottom__box">

        </div>
    </div>
    </div>
</footer>