<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<section class="section news" id="news" th:fragment="phone-news">
    <div class="container">
        <div class="title__container">
            <div class="section__titles">
                <div class="section__title active">
<!--                    <span class="dot"></span>-->
                    <h1 class="primary__title">TẠP CHÍ</h1>
                </div>
            </div>
        </div>
        <div class="news__container">
            <div class="glide" id="glide_5">
                <div class="glide__track" data-glide-el="track">
                    <ul class="glide__slides">
                        <li class="glide__slide">
                            <div class="new__card">
                                <div class="card__header">
                                    <img src="./images/news1.jpg" alt="">
                                </div>
                                <div class="card__footer">
                                    <h3>Chiếc Iphone đầu tiên trên thế giới</h3>
                                    <span>thegioididong.com</span>
                                    <p>Chiếc iPhone đời đầu ra mắt vào năm 2007 còn được gọi là iPhone 2G, gây chú ý với ...</p>
                                    <a href="https://www.thegioididong.com/tin-tuc/tom-tat-lich-su-iphone-cua-apple-tu-nam-2007-den-2018-1116174#:~:text=Chi%E1%BA%BFc%20iPhone%20%C4%91%E1%BB%9Di%20%C4%91%E1%BA%A7u%20ra,tr%C6%B0%E1%BB%9Dng%20smartphone%20th%E1%BB%9Di%20%C4%91i%E1%BB%83m%20%C4%91%C3%B3."><button>Xem thêm</button></a>
                                </div>
                            </div>
                        </li>
                        <li class="glide__slide">
                            <div class="new__card">
                                <div class="card__header">
                                    <img src="./images/news2.jpg" alt="">
                                </div>
                                <div class="card__footer">
                                    <h3>Lịch sử của những chiếc Iphone</h3>
                                    <span>thegioididong.com</span>
                                    <p>Đã hơn 15 năm kể từ lúc Apple trình làng chiếc iPhone đầu tiên vào ngày 09/01/2007 ...</p>
                                    <a href="https://www.thegioididong.com/tin-tuc/tom-tat-lich-su-iphone-cua-apple-tu-nam-2007-den-2018-1116174"><button>Xem thêm</button></a>
                                </div>
                            </div>
                        </li>
                        <li class="glide__slide">
                            <div class="new__card">
                                <div class="card__header">
                                    <img src="./images/news3.jpg" alt="">
                                </div>
                                <div class="card__footer">
                                    <h3>Các tính năng nổi trội của Iphone 14 promax</h3>
                                    <span>viettelstore.vn</span>
                                    <p>Một trong các tính năng mới của iPhone 14 Pro Max rất được mong đợi đó là ...</p>
                                    <a href="https://viettelstore.vn/tin-tuc/tinh-nang-moi-cua-iphone-14-pro-max"><button>Xem thêm</button></a>
                                </div>
                            </div>
                        </li>
<!--                        <li class="glide__slide">-->
<!--                            <div class="new__card">-->
<!--                                <div class="card__header">-->
<!--                                    <img src="./images/news4.jpg" alt="">-->
<!--                                </div>-->
<!--                                <div class="card__footer">-->
<!--                                    <h3>Styling White Shirts After A Cool Day</h3>-->
<!--                                    <span>By Admin</span>-->
<!--                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo praesentium, numquam non-->
<!--                                        provident rem sed minus natus unde vel modi!</p>-->
<!--                                    <a href="#"><button>Read More</button></a>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </li>-->
<!--                        <li class="glide__slide">-->
<!--                            <div class="new__card">-->
<!--                                <div class="card__header">-->
<!--                                    <img src="./images/news5.jpg" alt="">-->
<!--                                </div>-->
<!--                                <div class="card__footer">-->
<!--                                    <h3>Styling White Shirts After A Cool Day</h3>-->
<!--                                    <span>By Admin</span>-->
<!--                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo praesentium, numquam non-->
<!--                                        provident rem sed minus natus unde vel modi!</p>-->
<!--                                    <a href="#"><button>Read More</button></a>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </li>-->
                    </ul>
                </div>
            </div>

        </div>
    </div>
</section>